/Python_v1/env/
/Python_v1/__pycache__/
/Python_v1/config.py

/React_v2/node_modules
/React_v2/pi-gallery/node_modules
/React_v2/pi-gallery/src/imgs

# misc
/React_v2/npm-debug.log*
/React_v2/yarn-debug.log*
/React_v2/yarn-error.log*